@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #fff;
  background-image: url(assets/background-shapes.png);
  background-size: calc(100%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 18%;
}

#last-sec {
  height: 50vh;
}

header {
  padding-top: 7%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

nav {
  padding: 0 5% 0 0;
}

.my-logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 5%;
  margin-top: -1.5%;
}

#intro-sec {
  width: 85%;
  margin-left: 8%;
  margin-top: 15%;
}

.greeting {
  color: #172B4D;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  /* margin-top: 114px; */
  /* padding-left: 32px; */
}

.job-description {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* padding-left: 5%; */
}

.connect-link {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10%;
}

.social-media-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  list-style-type: none;
}

.works {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1fr);
  gap: 50px;
  padding: 24px;
  margin-top: 114px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 16px;
  border: solid #e5e5e5 1px;
  background-color: #fff;
}

.card-title {
  font-family: 'Poppins',serif Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.cannopy {
  color: #172b4d;
  font-family: 'Poppins',serif Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.subheading-list {
  display: flex;
  gap: 12px;
}

.card-contnt {
  font-family: 'Poppins',serif Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.webdev-languages {
  display: flex;
  gap: 12px;
  list-style: none;
  color: #6070ff;
}

.webdev-languages-lists {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.see-project {
  display: flex;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  background-color: #fff;
  color: #6070ff;
  margin-top: 12px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1700px;
  background-color: #fff;
  border-radius: 0 15% 0 0;
  margin-top: 114px;
}

.my-resume {
  display: flex;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  background-color: #fff;
  color: #6070ff;
  margin-left: 24px;
}

.heading {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  margin-left: 36px;
}

.web-lang-title {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12px;
}

.web-lang-title-list {
  display: flex;
  background-color: #f7f7f9;
  gap: 12px;
  border-radius: 8px;
  padding: 12px;
  margin-right: 5%;
}

.frameworks {
  display: flex;
  margin-left: 36px;
  gap: 150px;
  font-size: 20px;
  border-bottom: solid #dfe1e6 1px;
  padding-bottom: 7%;
  margin-bottom: 0;
  margin-right: 5%;
}

.skills {
  display: flex;
  margin-left: 36px;
  gap: 210px;
  font-size: 20px;
  margin-top: 8%;
  border-bottom: solid #dfe1e6 1px;
  padding-bottom: 7%;
  margin-bottom: 0;
  margin-right: 5%;
}

.form {
  background-image: url(./assets/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #6070ff;
  background-color: #6070ff;
  border-radius: 10% 0 0 0;
  margin-top: 50%;
}

.contact-me {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 30%;
  font-family: 'Poppins',serif Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.contact-description {
  text-align: center;
  font-size: 20px;
  color: #ebebff;
  padding-left: 24px;
  padding-right: 24px;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  color: #172b4d;
}

.box1 {
  padding: 2%;
  border-radius: 8px;
  border: solid #cfd8dc 1px;
}

.box2 {
  padding: 2%;
  border-radius: 8px;
  border: solid #cfd8dc 1px;
}

textarea {
  padding: 2%;
  border-radius: 8px;
  border: solid #cfd8dc 1px;
}

.get-in-touch {
  padding: 12px 16px;
  font-size: 17px;
  border-radius: 8px;
  border: solid #fff 1px;
  color: #6070ff;
  line-height: 24px;
  margin-bottom: 10%;
  margin-top: 5%;
  width: 50%;
}

.end-line {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
